 body {
            justify-content: center;
            align-items: center;
            display: flex;
            height: 600px;
            row-gap: 2px;
            flex-grow: 1;
            align-content: space-between;
            gap: 10px;
            flex-direction: column-reverse;
   
        }

        .box1 {
            align-self: flex-end;
            background-color: pink;
            width: 150px;       
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .box2 {
            align-self: flex-end;
            background-color: lavender;
            width: 150px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .box {
            background-color: pink;
            width: 150px;
            height: 150px;

            display: flex;
            justify-content: center;
            align-items: center;
        }
